<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-segment [(ngModel)]="text">
    <ion-segment-button value="message">
      Messages
    </ion-segment-button>
    <ion-segment-button value="notifications">
      Notifications
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="text">
    <ion-list *ngSwitchCase="'message'">
      <ion-item-sliding *ngFor="let profile of currentItems" margin-vertical>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="profile.profilePic">
          </ion-avatar>
          <h2>{{profile.name}}</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light">
            <ion-icon name="mail"></ion-icon>Mail
          </button>
          <button ion-button color="secondary">
            <ion-icon name="text"></ion-icon>Text
          </button>
          <button ion-button color="primary">
            <ion-icon name="call"></ion-icon>Call
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
    <ion-list *ngSwitchCase="'notifications'">
      <ion-item *ngFor="let item of currentItems">
        <ion-thumbnail item-start>
          <img [src]="item.picture">
        </ion-thumbnail>
        <h2>{{item.name}}</h2>
        <h4>{{item.price}}</h4>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
